<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <!-- Optional theme -->
            <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="/css/common.css">
            <!-- Jquery -->
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/js/moment.min.js"></script>
            <script type="text/javascript" src="/js/Chart.js"></script>
            {#<script type="text/javascript" src="/js/jsPDF.js"></script>#}
            <script type="text/javascript" src="/js/exportToPDF.js"></script>

            <title>{% block title %}{% endblock %}</title>

        {% endblock %}
    </head>
<body>
{% block body %}
    {% include '/common/navbar.html.twig' %}
{% endblock %}
</body>
</html>