<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/common.css">
		<!-- Jquery -->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="/js/bootstrap.min.js"></script>

		<title>{% block title %}{% endblock %}</title>

	{% endblock %}
</head>
<body>
{% block body %}
    {% include 'navbar.html.twig' %}
{% endblock %}
</body>
</html>