<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">Anexa gesti&oacute;n</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/listStudents">Alumnos</a></li>
                <li><a href="/listAdmittedStudents/">Alumnos ingresados</a></li>
                <li><a href="/ListStudentsWithPayedEnrolment/0">Alumnos con matricula</a></li>
                <li><a href="/listGuardians/0">Responsables</a></li>
                <li><a href="/listFees">Cuotas</a></li>
                <li><a href="/ListUsers">Usuarios</a></li>
                <li><a href="/ListConfigurations">Configuraciones</a></li>
                <li><a href="/Logout">Cerrar sesi&oacute;n</a></li>

            </ul>
            <form class="navbar-form navbar-right" action="searchDocument" theme="bootstrap">
                <input type="text" name="searchField" placeholder="Search..."
                             class="form-control" />
                <input type="submit"  class="btn btn-info" value="Buscar" />
            </form>
        </div>
    </div>
</nav>