<!DOCTYPE html>
<html>
	<head> 
		<title>Alta Cuota</title>

		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/js/funciones.js"></script>

	</head>
	<body>
		<h1>Alta Cuota</h1>
		<div class="whiteBox">
		 <form action="/AddCuotaAction" method="post">

			<label>Tipo:</label>
			<select id='tipo'>
				  <option value="matricula">Matricula</option>
				  <option value="mensual">Mensual</option>
			</select>

		 	<label>Mes</label>
			<input type="month" name="month">

			<label>N&uacute;mero de cuota:</label>
			<select id='numeroCuota'name="sex">
				  <option value="primerCuota">1</option>
				  <option value="segundaCuota">2</option>
				  <option value="terceraCuota">3</option>
				  <option value="cuartaCuota">4</option>
				  <option value="quintaCuota">5</option>
				  <option value="sextaCuota">6</option>
				  <option value="septimaCuota">7</option>
				  <option value="octavaCuota">8</option>
				  <option value="novenaCuota">9</option>
				  <option value="decimaCuota">10</option>
			</select>
	
			<label>Monto:</label>
			<input type="number" name="monto">
			
		
			<label>Porcentaje de de comisi&oacute;n:</label>
			<input type="number" name="comision" required>
		
			<input type="submit" value=" Enviar Pago">
		</form>


		</div>
	</body>
</html>