<!DOCTYPE html>
<html>
	<head> 
		<title>Alta Cuota</title>

		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/js/funciones.js"></script>

	</head>
	<body>
		<h1>Alta Cuota</h1>
		<div class="whiteBox">
		 <form action="/AddFeeAction" method="post">

			<label>Tipo:</label>
			<select id='tipo' name="kind">
				  <option value="matricula">Matricula</option>
				  <option value="mensual">Mensual</option>
			</select>


			 <label>A&ntilde;o</label>
			 <input type="number" name="year">


		 	<label>Mes y A&ntilde;o</label>
			<input type="month" name="month">

			<label>N&uacute;mero de cuota:</label>
			<select id='numeroCuota'name="number">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value=5>5</option>
				  <option value="6">6</option>
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
			</select>
	
			<label>Monto:</label>
			<input type="number" name="amount">
			
		
			<label>Porcentaje de de comisi&oacute;n:</label>
			<input type="number" name="collectorPayment" required>
		
			<input type="submit" value=" Enviar Pago">
		</form>


		</div>
	</body>
</html>