<!DOCTYPE html>
<html>
	<head> 
		<title>Alta de Alumnos</title>
		<link rel="stylesheet" href="../styles/style.css">
	</head>
	<body>
		<h1>Alta de Alumno</h1>
		<div class="whiteBox">
		 <form action="backend.html" method="post">
			<label>D.N.I</label>
			<input type="number" name="dni" required >

			<label>Apellido y Nombre:</label>
			<input type="text" name="fullname" required >

			<label>Fecha de Nacimiento:</label>
			<input type="date" name="birthDate" required >
	
			<label>Sexo:</label>
			<!-- <input type="character" name="sex" required placeholder="Sexo"> -->
			<select name="sex">
				  <option value="m">Masculino</option>
				  <option value="f">Femenino</option>
			</select>
	
			<label>Apellido y Nombre del Tutor Legal:</label>
			<input type="text" name="fullameTutor" required >
	
			<label>Tipo de parentezco del tutor legal:</label>
			<input type="text" name="tutorKinship" required >

			<label>Apellido y Nombre del Padre:</label>
			<input type="text" name="fatherFullname" >
	
			<label>Apellido y Nombre de la Madre:</label>
			<input type="text" name="motherFullname" >
		
			<label>Mail de contacto:</label>
			<input type="email" name="email">
		
			<label>Telefono de Contacto:</label>
			<input type="text" name="phone" >
	
			<label>Direcci&oacute;n:</label>
			<input type="text" name="address" required>
		
			<label>Fecha de Alta en el Sistema:</label>
			<input type="date" name="creationDate" required>
	
			<input type="submit" value="Enviar Datos">
		</form> 
		</div>
	</body>
</html>