x<!DOCTYPE html>
<html>
	<head> 
		<title>Alta de Alumnos</title>
		<link rel="stylesheet" href="../styles/style.css">
	</head>
	<body>
		<h1>Alta de Alumno</h1>
		<div class="whiteBox">
		 <form action="/AddStudentAction" method="post">
		 	<label>Tipo de documento</label>
			<select name="documentType">
				  <option value="libretaDeEnrolamiento">L.E.</option>
				  <option value="dni">D.N.I.</option>
			</select>

			<label>N&uacute;mero de Documento</label>
			<input type="number" name="documentNumber" required >

			<label>Nombre:</label>
			<input type="text" name="firstName" required >
			 <label>Apellido:</label>
			 <input type="text" name="lastName" required >

			<label>Fecha de Nacimiento:</label>
			<input type="date" name="birthDate" required >
	
			<label>Sexo:</label>
			
			<select name="sex">
				  <option value="m">Masculino</option>
				  <option value="f">Femenino</option>
			</select>
	
			<label>Mail de contacto:</label>
			<input type="email" name="email">
		
			<label>Direcci&oacute;n:</label>
			<input type="text" name="address" required>
		
			<label>Fecha de ingreso a la escuela:</label>
			<input type="date" name="ingresoEscuela" required>
			 <br>
			 <br>
			 <br>
			<label>Acci&oacute;n del responsable:</label>
			<select name="responsibleType">
				  <option value="createResponsible">Crear Responsable</option>
				  <option value="chooseResponsible">Elegir Responsable </option>
			</select>

			<input type="submit" value=" Continuar">
		</form>


		</div>
	</body>
</html>