<!DOCTYPE html>
<html>
	<head> 
		<title>Alta de usuarios</title>
		<link rel="stylesheet" href="../styles/style.css">
	</head>
	<body>
		<h1>Alta de usuario</h1>
		<div class="whiteBox">
		 <form action="/createUser" method="post">

			<label>Nombre de usuario:</label>
			<input type="text" name="username" required >

			<label>Password:</label>
			<input type="password" name="password" required >
		
			<label>Email de usuario:</label>
			<input type="email" name="email" required >

			<label>Rol:</label>
			<select name="rol">
				  <option value="administracion">Administraci&oacute;n</option>
				  <option value="gestion">Gesti&oacute;n</option>
				  <option value="consulta">Consulta</option>
			</select>

			<input type="submit" value="Enviar Datos">
		</form> 
		</div>
	</body>
</html>