<!DOCTYPE html>
<html>
	<head> 
		<title>Backend page</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div id="navbar">
			<div class="left">Graduada</div>
			<div class="right">{{username}} | <a href="/">Cerrar sesi&oacute;n</a></div>
		</div>
		<div id="menu" class="whiteBox">
			<h1>Men&uacute;</h1>
			<ul class="nav">
			    <li><a href="/AddStudent">Alta de alumno</a></li>
                <li><a href="/AddUser">Alta de usuario</a></li>
                <li><a href="/ListUsers">Get lista de usuarios</a></li>

                <li><a href="/AddFee">ABM de Cuotas</a></li>

                <li><a href="ListGuardians">Listar responsables</a></li>

                <li><a href="/UpdateStudent">Modificar alumno</a></li>
                <li><a href="/ListStudents">Modificar o borrar alumnos </a></li>
                <li><a href="#.html">Listado de cuotas pagadas</a></li>
                <li><a href="#.html">Listado de cuotas impagas</a></li>
                <li><a href="student/listStudents.html.twig">Listado de alumnos</a></li>
			</ul>
		</div>
		<div id="content">
		</div>
	</body>
</html>


