{% extends '/common/base.html.twig' %}

{% block title %}Calendario de cuotas pagas{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/calendar.css">
    {{ parent() }}

    <script src="/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <h2 class="sub-header">Cuotas pagas</h2>
        <div class="calendar-container">
            <div class="form-group">
                <div class="row">
                    <div class="calendar">
                        <div id="datetimepicker12"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker12').datetimepicker({
                        inline: true,
                        sideBySide: false
                    });

                    function wait(){
                        if (true){
                            $('.day').removeClass('active');
                            $('.day[data-day="11/18/2015"]').addClass('active');
                            setTimeout(wait,100);
                        }
                    }
                    wait ();
                });
            </script>
        </div>
    </div>

{% endblock %}


