<!DOCTYPE html>
<html>
  <head> 
    <title>Asociar responsable</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Asociar responsable</h1>
    <div class="whiteBox">
      {% if guardians|length > 0 %}
      <table class="table">
        <tbody>
          <tr class="even">
            <th>Nombre y Apellido</th>
            <th>Acci&oacute;n</th>
          </tr>
          {% for guardian in guardians %}
          <tr class="odd">
            <td>{{ guardian[1] }}</td>
            <td><a href="associateGuardianAction/{{ guardian[0] }}/{{ studentID }}">Seleccionar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </body>
</html>