<!DOCTYPE html>
<html>
  <head> 
    <title>Backend page</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <h1>Listado de Alumnos</h1>

    <form action="/ListStudents" method="POST">
      <input type="text" name="studentName">
      <input type="submit" value=" Buscar">
    </form>
    <div class="whiteBox">
      {% if alumnos|length > 0 %}
        <table class="table">
          <tbody>
          <tr class="even">
            <th>Nombre y Apellido</th>
            <th>Acci&oacute;n</th>
          </tr>
          {% for alumno in alumnos %}
            <tr class="odd">
              <td>{{ alumno.nombre ~" " ~ alumno.apellido}}</td>
              <td><a href="UpdateStudent/{{ alumno.id }}">Modificar</a> / <a href="DeleteStudentAction/{{ alumno.id }}">Eliminar</a> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </body>
</html>