<!DOCTYPE html>
<html>
	<head> 
		<title>Login page</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<h1>Login</h1>
		<div class="whiteBox loginBox">
		 <form action="/loginAction" method="post">
			<input type="text" name="username" required placeholder="Usuario">
			<input type="password" name="password" required placeholder="Contrase&ntilde;a">
			<input type="submit" value="Iniciar sesi&oacute;n">
		</form> 
		</div>
	</body>
</html>