{% extends '/common/base.html.twig' %}

{% block title %}Mapa{% endblock %}

{% block head %}


    <link rel="stylesheet" href="http://openlayers.org/en/v3.10.1/css/ol.css" type="text/css">
    <style>
        .map {
            height: 600px;
            width: 100%;
        }
    </style>
    <script src="http://openlayers.org/en/v3.10.1/build/ol.js" type="text/javascript"></script>
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container" id="container">
        <h1>holis</h1>
        <div id="map" class="map"></div>
        <script type="text/javascript">
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.MapQuest({layer: 'sat'})
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([-57.9749, -34.9205]),
                    zoom: 5
                })
            });
        </script>
    </div>


{% endblock %}
